<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        Login <input type="text" v-model="login"><br>
        Password <input type="password" v-model="password"><br>
        <button @click="onGo" :disabled="isButtonDisabled">Go</button> <br>
        <div> {{res}}</div>
    </div>  

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                login: '',
                password: '',
                res: ''
            },
            computed: {
                isButtonDisabled() {
                    return !(this.login.length & this.password.length > 8)
                }
            },

            methods: {
                onGo(){
                    alert("Ввійшли")
                }
            }
        });
    </script>
</body>

</html> -->

<!-- 


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        Login <input type="text" v-model="login"><br>
        Password <input type="password" v-model="password"><br>
        <button @click="onGo" :disabled="isButtonDisabled">Go</button> <br>
        <div>Name: {{msg1}}</div>
        <div>Pass: {{msg2}}</div>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                login: null,
                password: '',
                msg1: '',
                msg2: ''
            },
            watch: {
                pass() {
                    this.msg1 =
    }
            },

            computed: {
                isButtonDisabled() {
                    return !(this.login.length & this.password.length > 8)
                }
            },

            methods: {
                onGo() {
                    alert("Ввійшли")
                }
            }
        });
    </script>
</body>

</html>
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        Login<input type="text" v-model="login" placeholder="type login here"><br />
        Password<input type="password" v-model="pass"><br />
        <button @click="onGo" :disabled="isButtonDisabled">GO</button><br />
        <div> Name:{{msg1}}</div>
        <div> Pass:{{msg2}}</div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                login: null,
                pass: "",
                msg1: "",
                msg2: ""
            },
            watch: {
                pass() {
                    this.msg1 = this.login ? "ok" : "please enter login"
                    this.msg2 =  this.pass.length > 8 ? 'ok' : `залишилось ${8 - this.pass.length}`;
                },


                isButtonDisabled(newVal) {
                    if (newVal === false) {
                        this.msg1 = ""
                        this.msg2 = ""
                    }
                }
            },
            computed: {
                isButtonDisabled() {
                    return !(this.login && this.pass.length > 8);
                }
            },
            methods: {
                onGo() {
                    alert("go");
                    this.res = this.login + " - " + this.pass;
                }
            },
        });
    </script>
</body>

</html>
